<!DOCTYPE html>

<html>
    <head>
        <title>Fridge Forecast</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>

    <body>

    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">Fridge Forecast</h1>
    </main>
    

    <div class="container">    
        
        <!-- Button trigger modal -->
        <div style="text-align: right;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#food-modal" data-source="New Food">Add Food</button>
        </div>

        
        <div class="modal fade" id="food-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Add a Food</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="food-form-display">Item</span>
                    <input type="text" class="form-control" id="foodname" placeholder="Food Name" aria-label="food-name" aria-describedby="basic-addon1">
                    <input type="date" class="form-control" name="datepicker" id="datepicker">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="submit-food" type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>

    </div>

    <!--Todo Table-->
    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th class="food-id">Food Item</th>
            <th class="food">Expiration Date</th>
            <th class="status">Status</th>
            <th class="update">Edit</th>
            <th class="update">Remove</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                

                {% if item.status < 0 %}
                    <td style="color:red">{{item.food}}</td>
                    <td>{{item.exp}}</td>
                    <td><button disabled type="button" class="btn btn-danger btn-sm" data-source="{{loop.index0}}" style="opacity:100">EXPIRED</button></td>
                {% elif item.status <= 5 %}
                    <td style="color:#ffc107">{{item.food}}</td>
                    <td>{{item.exp}}</td>
                    <td><button disabled type="button" class="btn btn-warning btn-sm" data-source="{{loop.index0}}" style="opacity:100">{{item.status}} days remaining</button></td>
                {% else %}
                    <td>{{item.food}}</td>
                    <td>{{item.exp}}</td>
                    <td><button disabled type="button" class="btn btn-secondary btn-sm" data-source="{{loop.index0}}" style="opacity:100">{{item.status}} days remaining</button></td>
                {%endif%}
                
                <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#food-modal" data-source="{{item.food}}" data-content="{{loop.index0}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>

                <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{loop.index0}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    </div>
  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>